

<div id="thankYouApp" class="container">
  <div class="row justify-content-center box-bg-container mt-5 mb-5">
    <div class="col-8">
      <h1 class="text-success">Thank you for your order!</h1>
    <% if(orders) { %>
      <p class="mb-3">Your order number is: <strong><%= orders.orderNo %></strong></p>   

      <h3>Order Summary</h3>
      <table class="table">
        <tr>
          <th>Order #</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Amount</th>
        </tr>
        <tr>
          <td><%= orders.orderNo %></td>
          <td><%= orders.description %> <br>
            
              <% if( Array.isArray(orders.schedules) ) { %>
                Zone: <%= orders.timeZone %>
                <ul class="list">
                <% for(let i=0; i < orders.schedules.length; i++){  %>
                  <li><%= orders.schedules[i].day %> - <%= orders.schedules[i].time %></li>
                <% } %>
                </ul>
                <p v-if="orders.schedules[orders.schedules.length-1].option != 'anotherSchedule'">Option: <%= orders.schedules[orders.schedules.length-1].optFormatted %></p>
              <% } else { %>
                Schedule: <%= orders.schedules.day %> - <%= orders.schedules.time %> : <%= orders.schedules.optFormatted %>
              <% } %>
            
          </td>
          <td>10 classes</td>
          <td>$299.00</td>
        </tr>
      </table>
      <p>Boost your learning pace with the ChinesePod Online 10 Classes - and get your personalized classes a real native teacher over video chat! Our teachers know the ChinesePod curriculum inside out and can help you practice real live conversations.</p>
    <% } else { %>
      <p class="mb-3">Your order number is: <strong>XX-XXXX</strong></p>   

      <h3>Order Summary</h3>
      <table class="table">
        <tr>
          <th>Order #</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Amount</th>
        </tr>
        <tr>
          <td>XX-XXXX</td>
          <td>Lorem ipsum dolor sit amet consectetur</td>
          <td>1</td>
          <td>$299.00</td>
        </tr>
      </table>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, quisquam perferendis consequuntur doloremque eius quidem, voluptas cum aut nulla cupiditate dolore, sit quos nesciunt deserunt debitis unde et perspiciatis exercitationem.</p>
    <% } %>
    </div>
  </div>
</div>